{% extends "base.en-us.html" %}
{% block title %}WeatherVane{% endblock %}
{% block content %}
<main>
  <hgroup>
    <h1>Weather Vane</h1>
    <p>An ATProtocol identity validation and verification tool.</p>
  </hgroup>
  <section>
    {% include 'partial_validate.en-us.html' %}

    <h1>About</h1>
    <p>Weather Vane is a tool that can be used to verify identities and links contained in did-method-plc and did-method-web documents. It performs bi-directional verification to ensure that claims are accurate and trustworthy.</p>
    <p>Example: <a href="/did/did:plc:cbkjy5n7bk3ax2wplmtjofq2">did:plc:cbkjy5n7bk3ax2wplmtjofq2</a></p>

    <h3>Help</h3>
    <p>Here are some of the frequently asked questions about Weather Vane.</p>

    <h4>How can I use it?</h4>
    <p>Using the form at the top of the page, enter the ATProtocol handle or <abbr title="Decentralized Identifier">DID</abbr> that you would like to verify, and submit the form.</p>
    <p>All of the identities associated with the account will be listed along with their verification status.</p>

    <h4>How does it work?</h4>
    <p>In Bluesky, and as a part of the larger ATProtocol ecosystem, you have a <abbr title="Decentralized Identifier">DID</abbr> that is used to help servers understand where to send requests to. The <a href="https://www.w3.org/TR/did-core/">did-core</a> technical specification for how DIDs work includes the ability to link identities with the <kbd>alsoKnownAs</kbd> attribute.</p>
    <p>Weather Vane reads this information and performs bi-directional verification of the linked identities described in DID documents.</p>

    <h4>What is bi-directional verification?</h4>
    <p>Bi-directional verification is the process of verifying that a DID document contains a reference to an identity and that the identity contains a reference to the DID document.</p>
    <p>For example, if a DID document contains a reference to a website, the HTML served when you visit the page must contain a reference to the DID document in the form of an element like <code>&lt;link rel="did" href="did:plc:decafbad"&gt;</code>.</p>

    <p><strong>Why is this important?</strong> Bi-directional verification shows mutual consent and control.</p>
    <p>For example, let's say that you are <u>@johnny-awesome-handle</u> and blog at <u>https://the-greatest.of-all-time/</u>.
    <p>
      By including the URL of your blog in your DID document, you are proving that you are the account holder of the handle <u>@johnny-awesome-handle</u>.
      By creating a DNS record on the domain that points back to your DID, you are proving that you have control over the domain.
    </p>
    <p>
      Those mutual controls represent bi-directional verification because you need access to and control over both the account and domain to configure them to point to each other. If someone didn't have access and control over the domain or website, they wouldn't be able to create the necessary records to point back to their DID.
    </p>

    <h4>How can I verify it manually?</h4>
    <p>Verifying the identities referenced by a DID document can be time consuming, but it is possible to do so manually.</p>
    <ol>
      <li>
        <p>First, resolve the identifier to the DID document.</p>
        <ul>
          <li>For did-method-plc DIDs, you can look them up on <a href="https://plc.directory/">plc.directory</a>.</li>
          <li>For did-method-web DIDs, you'll need to make an HTTP GET request to the expanded DID json document per the spec.</li>
        </ul>
      </li>
      <li>
        <p>Enumerate the <kbd>alsoKnownAs</kbd> array in the DID document and verify each</p>
        <ul>
          <li>did-method-web identities can be resolved as per their spec.</li>
          <li>did-method-plc identities can be resolved as per their spec.</li>
          <li><abbr title="Fully-Qualified Domain Name">FQDN</abbr> identities can be resolved by a TXT query to the value</li>
          <li>GitHub identities can be resolved through an API call to the user social identities API endpoint and further resolution of the "bluesky" URL.</li>
          <li>Websites can be verified by making a HTTP GET request to the URL and verifying the presense of a <code>link</code> element with a <code>rel</code> attribute of <code>"did"</code> and a <code>href</code> attribute that matches the DID.</li>
        </ul>
      </li>
    </ol>

    <h4>Why use this instead of a labeler</h4>
    <p>Label services can be appealing because of the instant gratification they provide, but they are not a good solution for verifying identities and cause active harm.</p>
    <ol>
      <li>They centralized identity and authority, which is antithentical to ATProtocol.</li>
      <li>They remove your autonomy and control, by forcing you to rely on a third party that you have no long-term control.</li>
    </ol>

    <h4>How can I add my identities to my account?</h4>
    <p>Adding identities to your account is a multi-step process that involves updating your DID document and verifying the identities.</p>
    <p>Visit <a href="/guide">/guide</a> for instructions.</p>
  </section>
</main>
{% endblock %}
